depends/
bin/GLRender.pdb
sln/Debug/Camera.obj
sln/Debug/GLRender.log
sln/Debug/GLRender.tlog/CL.read.1.tlog
sln/Debug/GLRender.tlog/CL.write.1.tlog
sln/Debug/GLRender.tlog/GLRender.lastbuildstate
sln/Debug/GLRender.tlog/cl.command.1.tlog
sln/Debug/GLRender.tlog/link-cvtres.read.1.tlog
sln/Debug/GLRender.tlog/link-cvtres.write.1.tlog
sln/Debug/GLRender.tlog/link-rc.read.1.tlog
sln/Debug/GLRender.tlog/link-rc.write.1.tlog
sln/Debug/GLRender.tlog/link.command.1.tlog
sln/Debug/GLRender.tlog/link.read.1.tlog
sln/Debug/GLRender.tlog/link.write.1.tlog
sln/Debug/GLRender.tlog/unsuccessfulbuild
sln/Debug/ShaderProgram.obj
sln/Debug/main.obj
sln/Debug/vc120.idb
sln/Debug/vc120.pdb
sln/GLRender.sdf
